<body>
    <div class="container">
        <div *ngIf="post" class="post-details">
            <div class="hero" [style.backgroundImage]="'url(' + post.thumbnail + ')'">

            </div>

            <div class="author-info">
                <p class="author-name">A post by {{ post.author }}</p>
                <p class="post-date">{{ post.publishDate | date:'medium' }}</p>
            </div>

            <h1 class="post-title">{{ post.title }}</h1>
            <h2 class="post-excerpt">{{ post.excerpt }}</h2>
            <div class="post-body">
                <p *ngFor="let paragraph of post.body.split('\n')">{{ paragraph }}</p>
            </div>

            <div class="post-actions">
                <button class="btn btn-danger" (click)="onDeletePost()">Delete</button>
            </div>
        </div>
    </div>
</body>