<body>
    <section class="hero"
        style="background-image: url('https://d36kjk9ccnuehl.cloudfront.net/app/uploads/2017/11/15H_E-mountLens-FF_All_image-Large.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>LENSES</h1>
                </div>
            </div>
        </div>
    </section>

    <app-post-filter (filterChanged)="onFilterChanged($event)"></app-post-filter>

    <div class="container">
        <div class="row">
            <!-- Itera sobre los posts de la categoría de objetivos -->
            <div class="col-md-4" *ngFor="let post of lensePosts">
                <app-post [post]="post"></app-post>
            </div>
        </div>
    </div>
</body>