<section class="hero" [style.backgroundImage]="'url(' + backgroundImages[currentImageIndex] + ')'">
    <div class="hero-content">
        <h1>Welcome to FLASHCL!CK</h1>
        <p>Your go-to source for photography and filmmaking inspiration</p>
        <a routerLink="/cameras" class="btn">Explore Cameras</a>
    </div>
</section>

<div class="container">
    <div class="row">
        <!-- Cameras Category -->
        <div class="col-md-12">
            <h2>Cameras</h2>
        </div>
        <div class="col-md-4" *ngFor="let post of cameraPosts">
            <div class="card mb-3">
                <img [src]="post.thumbnail" class="card-img-top" alt="{{ post.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.excerpt }}</p>
                    <a [routerLink]="['/cameras', post.id]" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>

        <!-- Lenses Category -->
        <div class="col-md-12">
            <h2>Lenses</h2>
        </div>
        <div class="col-md-4" *ngFor="let post of lensPosts">
            <div class="card mb-3">
                <img [src]="post.thumbnail" class="card-img-top" alt="{{ post.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.excerpt }}</p>
                    <a [routerLink]="['/lenses', post.id]" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>

        <!-- Photography Category -->
        <div class="col-md-12">
            <h2>Photography</h2>
        </div>
        <div class="col-md-4" *ngFor="let post of photographyPosts">
            <div class="card mb-3">
                <img [src]="post.thumbnail" class="card-img-top" alt="{{ post.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.excerpt }}</p>
                    <a [routerLink]="['/photography', post.id]" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>

        <!-- Filmmaking Category -->
        <div class="col-md-12">
            <h2>Filmmaking</h2>
        </div>
        <div class="col-md-4" *ngFor="let post of filmmakingPosts">
            <div class="card mb-3">
                <img [src]="post.thumbnail" class="card-img-top" alt="{{ post.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.excerpt }}</p>
                    <a [routerLink]="['/filmmaking', post.id]" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>