<body>
    <section class="hero" [style.backgroundImage]="'url(' + backgroundImages[currentImageIndex] + ')'">
        <div class="hero-content">
            <h1>Welcome to FLASHCL!CK</h1>
            <p>Your go-to source for photography and filmmaking inspiration</p>
            <a routerLink="/new" class=" btn btn-warning">Create a New Post!</a>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <!-- Cameras Category -->
            <div class="col-md-12">
                <h2 (click)="showCameraPosts = !showCameraPosts">▼ CAMERAS ▼</h2>
            </div>
            <div class="col-md-4" *ngFor="let post of cameraPosts" [ngClass]="{ 'd-none': !showCameraPosts }">
                <app-post [post]="post"></app-post>
            </div>

            <!-- Lenses Category -->
            <div class="col-md-12">
                <h2 (click)="showLensPosts = !showLensPosts">▼ LENSES ▼</h2>
            </div>
            <div class="col-md-4" *ngFor="let post of lensPosts" [ngClass]="{ 'd-none': !showLensPosts }">
                <app-post [post]="post"></app-post>
            </div>

            <!-- Photography Category -->
            <div class="col-md-12">
                <h2 (click)="showPhotographyPosts = !showPhotographyPosts">▼ PHOTOGRAPHY ▼</h2>
            </div>
            <div class="col-md-4" *ngFor="let post of photographyPosts" [ngClass]="{ 'd-none': !showPhotographyPosts }">
                <app-post [post]="post"></app-post>
            </div>

            <!-- Filmmaking Category -->
            <div class="col-md-12">
                <h2 (click)="showFilmmakingPosts = !showFilmmakingPosts">▼ FILMMAKING ▼</h2>
            </div>
            <div class="col-md-4" *ngFor="let post of filmmakingPosts" [ngClass]="{ 'd-none': !showFilmmakingPosts }">
                <app-post [post]="post"></app-post>
            </div>
        </div>
    </div>

</body>