<body>
    <section class="hero"
        style="background-image: url('https://premiersdesignawards.vic.gov.au/__data/assets/image/0006/614193/BM-Pocket-banner.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>CAMERAS</h1>
                </div>
            </div>
        </div>
    </section>

    <app-post-filter (filterChanged)="onFilterChanged($event)"></app-post-filter>

    <div class="container">
        <div class="row">
            <!-- Itera sobre los posts de la categoría de cámaras -->
            <div class="col-md-4" *ngFor="let post of cameraPosts">
                <app-post [post]="post"></app-post>
            </div>
        </div>
    </div>
</body>